*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{

    background:linear-gradient(rgba(69, 108, 226, 0.566),rgba(173, 58, 94, 0.615));
    
}
.cont svg{
    width: 35rem;
    height: 35rem;
    position: absolute;
    top: 12rem;
}
.cont h1{
    font-size: 40px;

    font-weight: bold;
    position: absolute;
    top: 20rem;
    left: 2rem;
}
.cont i{
    color: red;
}
.login h1{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: bold;
position: absolute;
left: 50rem;
top: 16.5rem;
}
.login input{
    position: absolute;
    left: 50rem;
    top: 22.5rem;
    padding: 5px;
    padding-inline-end: 10rem;
    border-color:  #E72150;
}
.login p{
    position: absolute;
    left: 50rem;
    top: 25rem;
}
button{
    padding: 10px;
    width: 10rem;
    color: aliceblue;
    background: #E72150;
    font-size: 20px;
    font-weight: bolder;
    border: none;
    border-radius: 10px;
    position: absolute;
    left: 54rem;
    top: 28rem;
    cursor: pointer;

}
button:hover{
    background: #e7214f71;
}
